@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .top-font {
        color: #ACB6E5;
        background: -webkit-linear-gradient(0deg, #338CF5, #4FD1C5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}